/*-- Body Reset --*/ 
body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  color: #616971;
  /* background-image: url('../img/login.png'); */
}

body, .xlogin {
  background-color: #011b33
}
/*============= TOP BAR HEADER =============*/
.top-bar {
  background: green;
  height: 2.8rem;
  padding: 0.5rem 0;
}
.top-bar a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

/*============= NAVIGATION =============*/
.nav-brand img{
  height: 2rem;
}
.navbar {
  font-size: 1.15rem;
  box-shadow: gray;
}

/*============= CAROUSEL =============*/
.carousel .carousel-item img {
  max-height: 500px;
  min-width: auto;
}

/*============= LOGIN BOX =============*/

 .login {
  border-radius: 5px;
  position: relative;
  padding: 2rem;
 }

 .access-box-title {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  padding-bottom: 1rem;
 }
form {
  display: block;
  margin-top: 0em;
}
.access-wrap .access-box {
  background: #fff;
  border-radius: 3px;
  padding: 35px 35px 30px;
  position: relative;
  width: 100%;
}

.bg-white {
  background-color: #ffffff;
}
.input-lg, .input-md {
  height: 50px;
  font-size: 15px;
}

/*---Change Carousel Transition Speed --*/


/*-- Carousel Content --*/



/*===== FIXED BACKGROUND IMG =====*/
.fixed {
  background-image: url('../img/matrix.jpg');
  position: fixed;
}

.fixed-background {
  padding: 5rem 0;
}


/*-- Emoji Navbar --*/



/*============= FOOTER =============*/
footer {
  background-color: #3a3a3a;
}

footer img {
  height: 3.5rem;
}

footer p, footer a {
  color: #ffffff;
  text-decoration: none;
}

ul.social {
  list-style-type: none;
  display: flex;
  max-width: 16rem;
}

ul.social li {
  margin: 5 auto;
}
/*============= SOCKET =============*/



/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {

}
/* Devices under 768px (md) */
@media (max-width: 767.98px) {

}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/*-- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*-- Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  z-index: -999!important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}